body {
  background-color: black;
  color: white;
}
@media only screen {
	body {
		margin: 2em auto;
		max-width: 1500px;
  }
}

#title {
  width: 1500px;
  text-align: center;
  padding: 15px;  
  margin: 20px;
  margin-top: 100px;
  margin-bottom: 100px;
  font-weight: bold;
  font-size: 65px;
  font-family: 'NanumBarunGothicBold';
}

#title2 {
  margin: 0px;
  text-align: center;
  margin-bottom: 5px;
  font-size: 40px;
  font-weight: bold;
}

a {
  color:#00D26A;
  text-decoration: none;
}

td {
  text-align: center;
  padding: 5px;
}

#grid {
  display: grid;
  grid-template-columns: 750px 750px;
  width: 1500px;
  margin-left: 20px;
  margin-bottom: 100px;
  padding:0px;
  background-color: rgba(226, 201, 201, 0.116);
  border: none;
  border-radius: 30px;
}

#grid div {
  margin: 0px;
  padding: 20px;
}

#right {
  border-right: 1px solid gray;
  border-bottom: 1px gray solid;
}

p {
  margin: 0px;
  padding: 0px;
}

#center_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}